.container{
    padding: 15px;
}

.hero {
    width: 100%;
    height: 160px;
    background-color: $primary-blue-color;
    border-radius: 40px;
    border: 5px solid $primary-black-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-bottom: 60px;
}

.title {
    margin-top: 0;
    margin-bottom: 0;

    color: #ffffff;
    text-shadow: -1px 1px 2px $primary-black-color,
                1px 1px 2px $primary-black-color,
                1px -1px 0 $primary-black-color,
                -1px -1px 0 $primary-black-color;
    @include fSize(400, 30px, 1.4)
}

.quote{
    overflow-y: scroll;
    box-sizing: border-box;
    width: 100%;
    height: 210px;
    background-color: $primary-white-color;
    border-radius: 40px;
    border: 5px solid $primary-black-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.quote__text{
    @include fSize(400, 23px, 1.4);
    // margin-bottom: 30px
    max-height: 100%;
}

.quote__translated-text{
    @include fSize(400, 20px, 1.4)
}

.quote__img{
    // position: absolute;
    top: 110px;
    left: 70%;
    z-index: 1;
}

.button-container{
    display: flex;
    justify-content: center;
}

.quote__next-btn{
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    border: 4px solid $primary-black-color;
    border-radius: 15px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;

        :hover, :focus, :active{
            color: #ffffff;
            background-color: $primary-blue-color;
        }
}


