@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-image: url(../images/background-15226.jpg);
  font-family: "Numans", sans-serif;
}

.container {
  padding: 15px;
}

.hero {
  width: 100%;
  height: 160px;
  background-color: #70D1FE;
  border-radius: 40px;
  border: 5px solid #424F46;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin-bottom: 60px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  text-shadow: -1px 1px 2px #424F46, 1px 1px 2px #424F46, 1px -1px 0 #424F46, -1px -1px 0 #424F46;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
}

.quote {
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
  height: 210px;
  background-color: #ffffff;
  border-radius: 40px;
  border: 5px solid #424F46;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

.quote__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  max-height: 100%;
}

.quote__translated-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.quote__img {
  top: 110px;
  left: 70%;
  z-index: 1;
}

.button-container {
  display: flex;
  justify-content: center;
}

.quote__next-btn {
  width: 150px;
  height: 50px;
  border: 4px solid #424F46;
  border-radius: 15px;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ffffff;
  background-color: #70D1FE;
  text-shadow: -1px 1px 1px #424F46, 1px 1px 1px #424F46, 1px -1px 0 #424F46, -1px -1px 0 #424F46;
}

.quote__next-btn:active {
  background-color: #FF81C1;
  color: #FED90F;
}

.header {
  width: 100%;
  height: 40px;
  background-color: #424F46;
  opacity: 0.3;
  margin-bottom: 25px;
}

.container {
  padding: 15px;
}

.hero {
  width: 100%;
  height: 160px;
  background-color: #70D1FE;
  border-radius: 40px;
  border: 5px solid #424F46;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin-bottom: 60px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  text-shadow: -1px 1px 2px #424F46, 1px 1px 2px #424F46, 1px -1px 0 #424F46, -1px -1px 0 #424F46;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
}

.quote {
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
  height: 210px;
  background-color: #ffffff;
  border-radius: 40px;
  border: 5px solid #424F46;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

.quote__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  max-height: 100%;
}

.quote__translated-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.quote__img {
  top: 110px;
  left: 70%;
  z-index: 1;
}

.button-container {
  display: flex;
  justify-content: center;
}

.quote__next-btn {
  width: 150px;
  height: 50px;
  border: 4px solid #424F46;
  border-radius: 15px;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ffffff;
  background-color: #70D1FE;
  text-shadow: -1px 1px 1px #424F46, 1px 1px 1px #424F46, 1px -1px 0 #424F46, -1px -1px 0 #424F46;
}

.quote__next-btn:active {
  background-color: #FF81C1;
  color: #FED90F;
}/*# sourceMappingURL=index.css.map */