@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-image: url(../images/background-15226.jpg);
  font-family: "Numans", sans-serif;
}

.container {
  padding: 15px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}
@media screen and (max-width: 1279.8px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media screen and (max-width: 767.8px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hero {
  width: 100%;
  height: 160px;
  background-color: #70D1FE;
  border-radius: 40px;
  border: 5px solid #424F46;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin-bottom: 60px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  text-shadow: -1px 1px 2px #424F46, 1px 1px 2px #424F46, 1px -1px 0 #424F46, -1px -1px 0 #424F46;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
}

.quote {
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
  height: 210px;
  background-color: #ffffff;
  border-radius: 40px;
  border: 5px solid #424F46;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

.quote__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  max-height: 100%;
}

.quote__translated-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.button-container {
  display: flex;
  justify-content: center;
}

.quote__next-btn {
  width: 150px;
  height: 50px;
  border: 4px solid #424F46;
  border-radius: 15px;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ffffff;
  background-color: #70D1FE;
  cursor: pointer;
  text-shadow: -1px 1px 1px #424F46, 1px 1px 1px #424F46, 1px -1px 0 #424F46, -1px -1px 0 #424F46;
}
.quote__next-btn:hover, .quote__next-btn:focus {
  background-color: #FF81C1;
  color: #FED90F;
}

.header {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.hamburger {
  z-index: 99;
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  margin-left: auto;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  padding-top: 120px;
  transition: 0.4s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  border: 4px solid #424F46;
  border-radius: 15px;
  background-color: #FF81C1;
  color: #ffffff;
  text-shadow: -1px 1px 1px #424F46, 1px 1px 1px #424F46, 1px -1px 0 #424F46, -1px -1px 0 #424F46;
  text-decoration: none;
}

@media screen and (min-width: 767.8px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
.container {
  padding: 15px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}
@media screen and (max-width: 1279.8px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media screen and (max-width: 767.8px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hero {
  width: 100%;
  height: 160px;
  background-color: #70D1FE;
  border-radius: 40px;
  border: 5px solid #424F46;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin-bottom: 60px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  text-shadow: -1px 1px 2px #424F46, 1px 1px 2px #424F46, 1px -1px 0 #424F46, -1px -1px 0 #424F46;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
}

.quote {
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
  height: 210px;
  background-color: #ffffff;
  border-radius: 40px;
  border: 5px solid #424F46;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

.quote__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  max-height: 100%;
}

.quote__translated-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.button-container {
  display: flex;
  justify-content: center;
}

.quote__next-btn {
  width: 150px;
  height: 50px;
  border: 4px solid #424F46;
  border-radius: 15px;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ffffff;
  background-color: #70D1FE;
  cursor: pointer;
  text-shadow: -1px 1px 1px #424F46, 1px 1px 1px #424F46, 1px -1px 0 #424F46, -1px -1px 0 #424F46;
}
.quote__next-btn:hover, .quote__next-btn:focus {
  background-color: #FF81C1;
  color: #FED90F;
}/*# sourceMappingURL=index.css.map */